<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dispatches</title>
</head>

<body>
<div id="pageMainKT" ng-init="initData()"> <!-- Page Main Section Start -->

  <header class="hedMain"> <!-- Header Main Start -->
    <div class="hedInner">
      <section class="hedLeftSec flt_L">
        <a href="#"><img src="/com/images/logo.png" style="width:150px;" alt="Home" title="Home" /></a>
      </section>
      <section class="hedRightSec flt_R">
        <a href="#">Welcome User</a>
        <div class="clrBt"></div>
      </section>
      <div class="clrBt"></div>
    </div>
  </header> <!-- Header Main End -->

  <div class="menuMain">
    <div class="menuInner">
      <a href="#/forwardingNote" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Forwarding Note</a>
      <a href="#/dispatch" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Dispatch</a>
      <a href="#/dispatches" class="selectedMenu">Dispatches</a>
      <div class="clrBt"></div>
    </div>
  </div>

  <div class="contentAreaMain"> <!-- Content Area Main Start -->
    <div class="contentAreaInner">
      <h2 class="pageTitle" style="margin-bottom:12px;">Dispatches</h2>

      <div class="contLeftRightMain">
        <div class="clrBt"></div>
        <!--<div style="margin:0 0 10px 0;" class="buttonMain flt_R">-->
          <!--<button type="button" ng-click="showVanDataPopUp()" class="flt_L" style="margin-right:10px;">Add Van Details</button>-->
        <!--</div>-->
        
        <div class="clrBt"></div>
        
        <section class="contLeftMain" style="width:98%;">
          <form class="formStyleMain formInvoiceMain" style="margin:0 auto; width:375px; border-bottom:none; padding-bottom:0;">
            <div class="textBox flt_L">
              <label>From Date</label>
              <input ng-model="filterFromDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
            <div class="textBox flt_L" style="margin:0 10px;">
              <label>To Date</label>
              <input ng-model="filterToDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
          <div style="margin:30px 0 0;" class="buttonMain flt_L">
            <button type="button" ng-click="getDispatches(filterFromDate,filterToDate)" class="flt_L">Apply</button>
          </div>
            <div class="clrBt"></div>
            <div class="textBox flt_L">
              <label>Filter</label>
              <input ng-model="transportFilter" type="text" style="width:350px;" />
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
          </form>
          <div class="contRightMain" style="width:100%; border:medium none; box-shadow:none; padding:0;">
<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Van No.</th>
              <th>Driver Name</th>
              <th>Remarks</th>
              <th style="width:51px;">Action</th>
            </tr>
            <tr ng-repeat="dis in dispacthes | filter:transportFilter">
                <td>{{dis.id}}</td>
                <td>{{dis.date |date:'dd-MM-yyyy'}}</td>
              <td>{{dis.vanNo}}.</td>
              <td>{{dis.name}}</td>
              <td>{{dis.remarks}}</td>
              <td>
              	<a href="" class="flt_L" style="margin:0 8px 0 5px;"><img src="/com/images/viewicon.png" ng-click="showDispatch(dis)" style="width:18px;" alt="View" title="View" /></a>
                <a href="#/dispatch?id={{dis.id}}" ng-if="!dis.isLocked" class="flt_L" style="margin:2px 0 0;"><img src="/com/images/editicon.png" alt="Edit" style="width:15px;" title="Edit" /></a><div class="clrBt"></div>
			  </td>
            </tr>
          </table>
          </div>
        </section>

        <div class="clrBt"></div>

<div class="confirmBoxStyle" ng-if="isDispatchView"> <!-- Van Details Popup Box Style Start -->
  <div id="vanDetails_id" class="confirmBoxOuter printStyleDispcs" style="margin:40px auto 0; width:880px;">
    <div class="confirmBoxStyleInner">
      <h3 class="titleCB"><span class="confTxt flt_L">Van Details</span> <span  id="close_btn_id" ng-click="closeDispatch()" class="windowCloseIcon flt_R"></span><div class="clrBt"></div></h3>

	<div class="contRightMain" style="width:98.3%; padding:8px; border:medium none; box-shadow:none;">

    <div class="logoPartMain">
        <div class="logoPMain"><img src="/com/images/logo.png" alt="" title="" style="width:120px;" /></div>
        <div class="adrsLP">Kalpataru Tower Patna Gaya Road Elahibagh<br/> Patna-800007</div>
    </div>

<div>
    <div class="vanDetailsTbl">
    <div class="textBoxVD flt_L">
      <label>Date: </label>
      <span style="font-family: 'open_sanssemibold'; font-size:13px;">{{currentDispatch.date | date:'dd-MM-yyyy'}}</span>
      <div class="clrBt"></div>
    </div>
        <div class="textBoxVD flt_R" style="padding-right:10px;">
            <label>Sr No.: </label>
            <span style="font-family: 'open_sanssemibold'; font-size:13px;">{{currentDispatch.id}}</span>
            <div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
    <div class="textBoxVD flt_R" style="padding-right:10px;">
      <label>Van No.: </label>
      <span style="font-family: 'open_sanssemibold'; font-size:13px;">{{currentDispatch.vanNo}}</span>
      <div class="clrBt"></div>
    </div>
        <div class="textBoxVD flt_R" style="padding-right:10px;">
            <label>Total Cases.: </label>
            <span style="font-family: 'open_sanssemibold'; font-size:13px;">{{getTotalCase(currentDispatch)}}</span>
            <div class="clrBt"></div>
        </div>
    <div class="clrBt"></div>
    <div class="textBoxVD">
      <label>Driver Name: </label>
      <span style="font-family: 'open_sanssemibold'; font-size:13px;">{{currentDispatch.name}}</span>
      <div class="clrBt"></div>
    </div>
    <div class="textBoxVD">
      <label>Remarks: </label>
      <span style="font-family: 'open_sanssemibold'; font-size:13px; margin-left:3px;">{{currentDispatch.remarks}}</span>
      <div class="clrBt"></div>
    </div>
    <div class="clrBt"></div>
    </div>

    <div style="border-bottom:4px double #aec6dc; margin-bottom:15px;"></div>
    <div id="dischsTblouter" class="printClass" style="overflow-y:auto; height:240px;"><table cellpadding="0" cellspacing="0" width="100%" class="sortable dischsTblStyle">
    <tr>

      <th class="id_id_th" >ID</th>
      <th class="id_date_th">Date</th>
      <th>Transport Name</th>
      <th>Station / Place</th>
      <th class="id_bill_th" >Bill No.</th>
      <th class="id_bdate_th">Bill Date.</th>
      <th class="id_value_th">Value</th>

      <th>Pvt. Marka</th>
      <th class="id_permit_th">Permit No.</th>
      <th>Customer name</th>
      <!--<th>Customer City</th>-->
        <th>Cases</th>
    </tr>
    <tr ng-repeat="fn in currentDispatch.forwardingNote" ng-class="{'bigTd':fn.isCases}" >
      <td class="id_id_td" >{{fn.id}}</td>
      <td class="id_date_td">{{fn.fnDate | date:'dd-MM-yyyy'}}</td>
      <td style="text-transform: uppercase"><span ng-show="!fn.isCases">{{fn.transporter.name}}</span><span ng-show="fn.isCases">{{fn.receiver}}</span></td>
      <td style="text-transform: uppercase">{{fn.transporterStation}}</td>
      <td class="id_bill_td"  style="text-transform: uppercase">{{fn.billNo}}</td>
      <td class="id_bdate_td" >{{fn.billDates}}</td>
      <td class="id_value_td">{{fn.billValues}}</td>

      <td >{{fn.marka}}</td>
      <td class="id_permit_td" style="text-transform: uppercase">{{fn.permitNo}}</td>
      <td style="text-transform: uppercase">{{fn.customer.name}}</td>
      <!--<td style="text-transform: uppercase">{{fn.customer.city}}</td>-->
        <td><span ng-show="!fn.isCases">{{fn.cases}}</span><span ng-show="fn.isCases">{{fn.totalCases}}</span></td>
    </tr>
    </table></div>
</div>
    <div style="margin:10px 0 0 0;" class="buttonMain flt_R">
    	<button id="print_btn_id" type="button" ng-click="print()" class="flt_L">Print</button>
        <div class="clrBt"></div>
    </div>
        </section>
        <div class="clrBt"></div>
      </div>
</div>
</div>
</div>




    </div>
  </div> <!-- Content Area Main End -->


</div> <!-- Page Main Section End -->

</div>
</body>
</html>
