<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dispatches</title>
</head>

<body>
<div id="pageMainKT" ng-init="initData()"> <!-- Page Main Section Start -->

  <header class="hedMain"> <!-- Header Main Start -->
    <div class="hedInner">
      <section class="hedLeftSec flt_L">
        <a href="#"><img src="/com/images/logo.png" style="width:150px;" alt="Home" title="Home" /></a>
      </section>
      <section class="hedRightSec flt_R">
        <a href="#">Welcome User</a>
        <div class="clrBt"></div>
      </section>
      <div class="clrBt"></div>
    </div>
  </header> <!-- Header Main End -->

  <div class="menuMain">
    <div class="menuInner">
      <a href="#/forwardingNote" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Forwarding Note</a>
      <a href="#/dispatch" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Dispatch</a>
      <a href="#/dispatches" class="selectedMenu">Dispatches</a>
      <div class="clrBt"></div>
    </div>
  </div>

  <div class="contentAreaMain"> <!-- Content Area Main Start -->
    <div class="contentAreaInner">
      <h2 class="pageTitle" style="margin-bottom:12px;">Dispatches</h2>

      <div class="contLeftRightMain">
        <div class="clrBt"></div>
        <!--<div style="margin:0 0 10px 0;" class="buttonMain flt_R">-->
          <!--<button type="button" ng-click="showVanDataPopUp()" class="flt_L" style="margin-right:10px;">Add Van Details</button>-->
        <!--</div>-->
        
        <div class="clrBt"></div>
        
        <section class="contLeftMain" style="width:98%;">
          <form class="formStyleMain formInvoiceMain" style="margin:0 auto; width:375px; border-bottom:none; padding-bottom:0;">
            <div class="textBox flt_L">
              <label>From Date</label>
              <input ng-model="filterFromDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
            <div class="textBox flt_L" style="margin:0 10px;">
              <label>To Date</label>
              <input ng-model="filterToDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
          <div style="margin:30px 0 0;" class="buttonMain flt_L">
            <button type="button" ng-click="getDispatches(filterFromDate,filterToDate)" class="flt_L">Apply</button>
          </div>
            <div class="clrBt"></div>
            <div class="textBox flt_L">
              <label>Filter</label>
              <input ng-model="transportFilter" type="text" style="width:350px;" />
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
          </form>
          <div class="contRightMain" style="width:100%; border:medium none; box-shadow:none; padding:0;">
<table cellpadding="0" cellspacing="0" width="100%" class="sortable" >
            <tr>
              <th>Date</th>
              <th>Van No.</th>
              <th>Driver Name</th>
              <th>Remarks</th>
              <th style="width:51px;">Action</th>
            </tr>
            <tr ng-repeat="dis in dispacthes | filter:transportFilter">
              <td>{{dis.date |date:'dd-MM-yyyy'}}</td>
              <td>{{dis.vanNo}}.</td>
              <td>{{dis.name}}</td>
              <td>{{dis.remarks}}</td>
              <td>
              	<a href="" class="flt_L" style="margin:0 8px 0 5px;"><img src="/com/images/viewicon.png" ng-click="showDispatch(dis)" style="width:18px;" alt="View" title="View" /></a>
                <a href="#/dispatch?id={{dis.id}}" ng-if="!dis.isLocked" class="flt_L" style="margin:2px 0 0;"><img src="/com/images/editicon.png" alt="Edit" style="width:15px;" title="Edit" /></a><div class="clrBt"></div>
			  </td>
            </tr>
          </table>
          </div>
        </section>

        
        <div class="clrBt"></div>
        
<div class="confirmBoxStyle" ng-if="isDispatchView"> <!-- Van Details Popup Box Style Start -->
  <div id="vanDetails_id" class="confirmBoxOuter" style="margin:40px auto 0; width:880px;">
    <div class="confirmBoxStyleInner">
      <h3 class="titleCB"><span class="confTxt flt_L">Van Details</span> <span  id="close_btn_id" ng-click="closeDispatch()" class="windowCloseIcon flt_R"></span><div class="clrBt"></div></h3>
        
        <div class="contRightMain" style="width:98.3%; padding:8px; border:medium none; box-shadow:none;">
        
        	<div class="logoPartMain">
            	<div class="logoPMain"><img src="/com/images/logo.png" alt="" title="" style="width:120px;" /></div>
                <div class="adrsLP">Kalpataru Tower Patna Gaya Road Elahibagh<br/> Patna-800007</div>
            </div>
        
<div >
          <div class=" vanDetailsTbl">
            <div class="textBoxVD flt_L">
              <label>Date: </label>
              <span>{{currentDispatch.date | date:'dd-MM-yyyy'}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="textBoxVD flt_R" style="padding-right:10px;">
              <label>Van No.: </label>
              <span>{{currentDispatch.vanNo}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
            <div class="textBoxVD">
              <label>Driver Name: </label>
              <span>{{currentDispatch.name}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="textBoxVD">
              <label>Remarks: </label>
              <span style="margin-left:3px;">{{currentDispatch.remarks}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
          </div>

          <div style="border-bottom:4px double #aec6dc; margin-bottom:15px;"></div>
          <table cellpadding="0" cellspacing="0" width="100%" class="sortable" >
            <tr>
              <th ng-show="visibleForDisplay">Date</th>
              <th >Transport Name</th>
              <th>Station / Place</th>
              <th ng-show="visibleForDisplay" >Bill No.</th>
              <th ng-show="visibleForDisplay">Bill Date.</th>
              <th ng-show="visibleForDisplay">Value</th>
              <th>Cases</th>
              <th>Pvt. Marka</th>
              <th ng-show="visibleForDisplay">Permit No.</th>
              <th>Customer name</th>
              <th>Customer City</th>
            </tr>
            <tr ng-repeat="fn in currentDispatch.forwardingNote">
              <td ng-show="visibleForDisplay">{{fn.fnDate | date:'dd-MM-yyyy'}}</td>
              <td >{{fn.transporter.name}}</td>
              <td>{{fn.transporter.city}}</td>
              <td ng-show="visibleForDisplay">{{fn.billNo}}</td>
              <td ng-show="visibleForDisplay">{{fn.billDate | date:'dd-MM-yyyy'}}</td>
              <td ng-show="visibleForDisplay">{{fn.billValue}}</td>
              <td>{{fn.cases}}</td>
              <td>{{fn.marka}}</td>
              <td ng-show="visibleForDisplay">{{fn.permitNo}}</td>
              <td>{{fn.customer.name}}</td>
              <td>{{fn.customer.city}}</td>
            </tr>
          </table>
          </div>
          <div style="margin:10px 0 0 0;" class="buttonMain flt_R">
            <button id="print_btn_id" type="button" ng-click="print()" class="flt_L">Print</button>
          </div>
        </section>
        <div class="clrBt"></div>
      </div>
</div>
</div>
</div>

















    </div>
  </div> <!-- Content Area Main End -->


</div> <!-- Page Main Section End -->


</body>
</html>
