
@font-face {
    font-family: 'open_sansregular';
    src: url('/com/fonts/openSansRegular/opensans-regular-webfont.eot');
    src: url('/com/fonts/openSansRegular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/com/fonts/openSansRegular/opensans-regular-webfont.woff2') format('woff2'),
         url('/com/fonts/openSansRegular/opensans-regular-webfont.woff') format('woff'),
         url('/com/fonts/openSansRegular/opensans-regular-webfont.ttf') format('truetype'),
         url('/com/fonts/openSansRegular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('/com/fonts/openSansBold/opensans-bold-webfont.eot');
    src: url('/com/fonts/openSansBold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/com/fonts/openSansBold/opensans-bold-webfont.woff2') format('woff2'),
         url('/com/fonts/openSansBold/opensans-bold-webfont.woff') format('woff'),
         url('/com/fonts/openSansBold/opensans-bold-webfont.ttf') format('truetype'),
         url('/com/fonts/openSansBold/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('/com/fonts/openSansSemiBold/opensans-semibold-webfont.eot');
    src: url('/com/fonts/openSansSemiBold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/com/fonts/openSansSemiBold/opensans-semibold-webfont.woff2') format('woff2'),
         url('/com/fonts/openSansSemiBold/opensans-semibold-webfont.woff') format('woff'),
         url('/com/fonts/openSansSemiBold/opensans-semibold-webfont.ttf') format('truetype'),
         url('/com/fonts/openSansSemiBold/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight:normal;
    font-style:normal;
}

body{margin:0; padding:0; font-family: 'open_sansregular'; font-weight:400; font-size:12px; background:#fafafa;}

.flt_L{float:left;}
.flt_R{float:right;}
.clrBt{clear:both;}

a, input{-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}

#pageMainKT{width:100%;}

/* Header CSS */
.hedMain{background:#dbe1d7; border-bottom:1px solid #dcb39c; box-shadow:0 0 2px #ccb8b8; padding:10px 0;}
.hedMain .hedInner{max-width:1000px; margin:0 auto;}
.hedMain .hedRightSec a{color:#2d67a4; text-decoration:none; float:right; margin:15px 0 0;}

.contentAreaMain{margin-top:1px;}
.contentAreaMain .contentAreaInner{max-width:1000px; margin:0 auto; padding:10px; background:#fff; min-height:500px; border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1;}
.pageTitle{font-family: 'open_sanssemibold'; font-size:18px; font-weight:normal; background:#eeead9; border-bottom:1px solid #debf9f; border-radius:5px 0; 
color:#be4954; line-height:normal; margin:0 0 20px; padding:4px 15px; text-transform:uppercase;}
.formStyleMain{}
.formStyleMain .textBox{margin-bottom:10px;}
.formStyleMain .textBox label{float:left; margin:6px 0 0; font-family: 'open_sanssemibold'; color:#333; width:120px; font-size:13px; font-weight:normal;}
.formStyleMain .textBox input, .formStyleMain .textBox textarea{float:left; resize:none; font-size:12px; height:20px; font-family: 'open_sansregular'; box-shadow:0 0 2px #ccc inset; border:1px solid #ccc; padding:6px; border-radius:5px;}
.formStyleMain .textBox input:focus, .formStyleMain .textBox textarea:focus, .selectSty1 select:focus{border:1px solid #4da4cc; box-shadow:0 0 2px #4da4cc inset;}
.buttonMain{}
.buttonMain button{border:none; font-family: 'open_sanssemibold'; background:#4da4cc; color:#fff; text-align:center; padding:4px 10px; border-radius:8px;
display:block; font-size:13px; cursor:pointer;}

.formLRMain{width:503px; margin:0 auto;}
.formLRMain .textBox input{width:300px;}

.menuMain{}
.menuMain .menuInner{margin:10px auto 0; width:365px; border-bottom:4px double #aec6dc; padding-bottom:5px;}
.menuMain a{float:left; padding:5px; font-family: 'open_sanssemibold'; font-weight:normal; text-transform:uppercase; text-decoration:none; color:#256f9c; font-size:15px;}
.menuMain a:hover, .menuMain a.activeM, .menuMain a.selectedMenu{color:#be4954;}

.contLeftRightMain{}
.contLeftRightMain .contLeftMain{width:30%; min-height:470px; background:#fbfbfb; border:1px solid #ccc; border-radius:5px; box-shadow:0 0 2px #ddd; padding:10px;}
.contLeftRightMain .contRightMain{width:64.5%; min-height:470px; background:#fbfbfb; border:1px solid #ccc; border-radius:5px; box-shadow:0 0 2px #ddd; padding:10px;}
.formInvoiceMain{border-bottom:4px double #aec6dc; margin-bottom:15px; padding-bottom:7px;}
.formInvoiceMain .textBox label{float:none; display:block; margin-bottom:3px;}
.formInvoiceMain .textBox input{float:none; display:block;}

.checkBoxSectionMain{margin:0; padding:0;}
.checkBoxSectionMain .chkBox{list-style:none; border-bottom:1px solid #f1f1f1; margin-bottom:7px; padding-bottom:7px;}
.checkBoxSectionMain .chkBox a{float:left; font-size:13px; width:273px; margin-left:5px; color:#0076bf; text-decoration:none;}
.checkBoxSectionMain .chkBox a:hover{text-decoration:underline;}
.checkBoxSectionMain .chkBox input{float:left; margin-top:4px;}
.checkBoxSectionMain .chkBox .linkStyleLst{}
.checkBoxSectionMain .chkBox .unlinkStyleLst span{color:#a7a7a7; font-size:13px; width:279px;}

.contRightMain table{border-bottom:1px solid #e6d2d2; border-right:1px solid #e6d2d2;}
.contRightMain table tr{}
.contRightMain table tr th{border-top:1px solid #e6d2d2; font-family: 'open_sanssemibold';  background:#f9f1f1; font-weight:normal; border-left:1px solid #e6d2d2; padding:5px;}
.contRightMain table tr td{border-top:1px solid #e6d2d2; font-family: 'open_sansregular'; word-break:break-all; border-left:1px solid #e6d2d2; padding:5px;}
.contRightMain table tr:nth-child(odd) {background-color:#f7f7f7;}
.contRightMain table tr:nth-child(even) {background-color:#fff;}
.contRightMain .dischsTblStyle tr th, .contRightMain .dischsTblStyle tr td{font-family: 'open_sanssemibold'; font-size:13px;}

/* USE this for all common styling */
.confirmBoxStyle{background-color:rgba(0, 0, 0, 0.6); position:fixed; top:0; z-index:999; left:0; width:100% !important; height:100% !important;}
.confirmBoxStyle .confirmBoxOuter{background:#ddd; border:1px solid #e3dede; border-radius:6px; box-shadow:0 0 2px #656565; height:auto; margin:80px auto 0; padding:12px; width:380px;}
.confirmBoxStyle .confirmBoxStyleInner{background:#fff; border-radius:8px; padding:0 0 10px;}
.confirmBoxStyle .titleCB{background:#814b27; line-height:normal; border-radius:8px 8px 0 0; margin:0; color:#fff; font-size:22px; font-weight:bold; padding:8px 10px; font-family: 'Roboto', sans-serif !important; font-weight:400;}
.confirmBoxStyle .titleCB .confTxt{}
.confirmBoxStyle .titleCB .windowCloseIcon{background:url(../images/closeImg.png) no-repeat right center; cursor:pointer; width:21px; height:22px;}
.confirmBoxStyle .infoTxtCD{color:#535353; display:block; font-family: 'Roboto', sans-serif !important; font-weight:400; text-align:center; font-size:16px; margin:0 0 13px; padding:25px 0; border-bottom:1px solid #ddd;}
.confirmBoxStyle .btnMainCB{margin:0 auto; width:150px;}
.confirmBoxStyle .btnMainCB button{border:none; font-family: 'Roboto', sans-serif !important; font-weight:400; box-shadow:1px 1px 1px #bfbfbf; color:#fff; font-size:14px; width:70px; margin-right:10px; padding:3px 10px; cursor:pointer;}
.confirmBoxStyle .btnMainCB .btnYes{background:url(../images/greenBtn.png) repeat-x left top;}
.confirmBoxStyle .btnMainCB .btnCancel{background:url(../images/redBtnBg.png) repeat-x left top; margin-right:0;}

.formLightBoxMain{padding:20px 10px 10px; margin:0 auto; width:310px;}
.formLightBoxMain .textBox label{width:90px;}
.formLightBoxMain .textBox input{width:200px;}

.vanDetailsTbl{padding:0 5px 5px 15px;}
.vanDetailsTbl .textBoxVD{margin-bottom:8px;}
.vanDetailsTbl .textBoxVD label{float:left; font-family: 'open_sanssemibold'; font-size:14px; color:#000000;}
.vanDetailsTbl .textBoxVD span{float:left; font-size:13px; margin-left:5px; color:#953b44;}
.redBorder {border:1px solid red !important}

.logoPartMain{padding:15px 0; margin:0 auto; width:300px; text-align:center;}
.logoPartMain .logoPMain{margin-bottom:10px;}
.logoPartMain .adrsLP{color:#333;}

.billDatesBox{background:#eaf5f7; border:1px solid #c2ecff; margin-left:120px; margin-top:4px; padding:5px 5px 0 5px; width:301px;}

.formViewStyleM{padding:0 10px 0;}
.formViewStyleM .textBox{background:#fafafa; border-bottom:1px solid #ededed; border-right:1px solid #d0cfcf; margin:0; padding:6px 5px; width:380px;}
.formViewStyleM .textBox label{float:left; margin-right:8px; font-family: 'open_sanssemibold'; color:#333; font-size:14px;}
.formViewStyleM .textBox span{float:left; color:#007bb4; font-family: 'open_sanssemibold'; font-size:14px; word-break:break-all;}

.billDatesBox span{background:url(../images/removeDate.png) no-repeat right -3px; padding:0 2px 0 0; margin-right:3px; cursor:pointer;}

.afterSaveMessageMain{position:fixed; background:#fff; border:1px solid #ccc; border-radius:3px; bottom:5px; box-shadow:0 0 2px #ccc; padding:10px; right:5px; width:250px;}
.afterSaveMessageMain .afterSaveMessageInr{}
.afterSaveMessageMain .afterSaveMessageInr span{display:block;}

/* Select CSS */
.posCss{position:relative;}
.selectSty1{height:56px;}
.selectSty1 label{position:relative; display:block;}
.selectSty1 select{outline:none; font-weight:normal; cursor:pointer; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; -ms-appearance:none; appearance:none; width:100%; border:1px solid #ccc; border-radius:6px; box-shadow:0 0 2px #ccc inset; color:#34495e; font-family: Lato,Helvetica,Arial,sans-serif; font-size:13px; height:33px; line-height:1.467; padding:5px 10px; resize:none; 
transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;}
.selectSty1 span{ position:absolute; top:0; width:100%;}
.selectSty1 span:after{content:'<>'; font:15px "Consolas", monospace; color:#444; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); padding:0 0 2px; border-bottom:1px solid #ddd; position:absolute; pointer-events:none; right:6px; top:5px;}
.selectSty1 span:before{content:''; height:34px; pointer-events:none; position:absolute; width:30px; }
.selectSty1 select option{padding:5px 3px; background:#EFEDED; border:none; outline:none; display:block; font-weight:normal;}
.selectSty1 select option:hover{background:#ccc;}

.compNameCodeM{}
.compNameCodeM .compName{color:#333; font-size:14px; font-family: 'open_sanssemibold';}
.compNameCodeM .compCode{font-family: 'open_sanssemibold'; color:#2587a7; font-size:13px;}

.printStyleDispcs{width:930px !important;}
.printStyleDispcs .logoPartMain .adrsLP{color:#000; font-weight:bold;}
.printStyleDispcs .dischsTblStyle th, .printStyleDispcs .dischsTblStyle td{font-size:15px !important; color:#000;}
.vanDetailsTbl .textBoxVD label, .vanDetailsTbl .textBoxVD span{font-size:15px !important; color:#000 !important;}
.bigTd td{padding: 20px 5px !important;color: #be4954 !important;background-color: azure;border-left: none !important;}
@media print and (-webkit-min-device-pixel-ratio:0) { .printClass{height:auto !important; width:800px;} }

.tabMenuDispc{border-bottom:1px solid #aec6dc; margin-bottom:10px;}
.tabMenuInrDispc{width:150px; margin:0 auto;}
.tabMenuDispc a{padding:5px; color:#256f9c; font-size:14px; font-family: 'open_sanssemibold'; text-decoration:none;}
.tabMenuDispc a:hover, .tabMenuDispc a.activeTabDisc{color:#be4954;}

.gridViewDsp{border-top:1px solid #ccc;border-left:1px solid #ccc;}
.gridViewDsp .gridSty{float:left; background:#f9ffff; border-right:1px solid #ccc; border-bottom:1px solid #ccc; position:relative; font-size:14px; padding:7px; text-align:center; width:59.7px;}
.gridViewDsp .disableGVD{background:#e4e4e4; color:#b8b8b8;}
.gridViewDsp .enableGVD{background:#e2f2ce;}
.gridViewDsp .gridSty a{background:#e4e4e4; border-radius:50%; color:#cf6000; display:block; font-family: "open_sansregular"; font-size:12px; 
font-weight:600; height:16px; position:absolute; right:2px; text-align:center; text-decoration:none; top:2px; width:16px;}
