<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forwarding Note</title>
</head>

<body>

<div id="pageMainKT"> <!-- Page Main Section Start -->

    <header class="hedMain"> <!-- Header Main Start -->
        <div class="hedInner">
            <section class="hedLeftSec flt_L">
                <a href="#"><img src="/com/images/logo.png" style="width:150px;" alt="Home" title="Home" /></a>
            </section>
            <section class="hedRightSec flt_R">
                <a href="#">Welcome User</a>
                <div class="clrBt"></div>
            </section>
            <div class="clrBt"></div>
        </div>
    </header> <!-- Header Main End -->

    <div class="menuMain">
        <div class="menuInner">
            <a href="#/forwardingNote" class="selectedMenu" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Forwarding Note</a>
            <a href="#/dispatch" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Dispatch</a>
            <a href="#/dispatches">Dispatches</a>
            <div class="clrBt"></div>
        </div>
    </div>

    <div class="contentAreaMain" ng-init="initData()"> <!-- Content Area Main Start -->
        <div class="contentAreaInner">
            <h2 class="pageTitle">Forwarding Note</h2>
            <form class="formStyleMain formLRMain">
                <div class="textBox">
                    <label>Forwarding Date<span style="color:red;">*</span></label>
                    <input tabindex="1" type="date" ng-class="{'redBorder':isNotFnDate}" format="YYYY-MM-DD" ng-model="currentFn.fnDate" />
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Transport Name<span style="color:red;">*</span></label>
                    <input tabindex="2" style="text-transform: uppercase" id="transporter_name_id" ng-class="{'redBorder':isNotTransporter}" ng-disabled="isTransporterDisabled" ng-model="currentFn.transporter.name" type="text" />
                  <div style="margin-top:4px;" class="buttonMain flt_R">
                    <button type="button" ng-click="clearTransporter()">Clear</button>
                  </div>
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Station/Place<span style="color:red;">*</span></label>
                    <input tabindex="3" style="text-transform: uppercase"  id="t_station_id" ng-class="{'redBorder':isNotTransporter}" ng-model="currentFn.transporterStation" type="text" />
                    <div class="clrBt"></div>

                </div>
                <div class="textBox">
                    <label>Customer Name<span style="color:red;">*</span></label>
                    <input tabindex="4" style="text-transform: uppercase" id="customer_name_id" ng-class="{'redBorder':isNotCustomer}" ng-disabled="isCustomerDisabled" ng-model="currentFn.customer.name" type="text" />
                  <div style="margin-top:4px;" class="buttonMain flt_R">
                    <button type="button" ng-click="clearCustomer()">Clear</button>
                  </div>
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Station/Place<span style="color:red;">*</span></label>
                    <input tabindex="5" style="text-transform: uppercase" ng-disabled="isCustomerDisabled" ng-class="{'redBorder':isNotCustomer}" ng-model="currentFn.customer.city" type="text" />
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Bill No</label>
                    <input tabindex="6" type="text" ng-model="currentFn.billNumber" />
                    <div class="clrBt"></div>
                </div>

                <div class="textBox">
                    <label>Bill Date</label>
                    <input tabindex="7" type="date" ng-model="currentFn.billDate" />
                    <div style="margin-top:4px; margin-right:6px;" class="buttonMain flt_R"><button type="button" ng-click="addBillDate()">Add</button></div>
                    <div class="clrBt"></div>
                    <div class="billDatesBox">
                        <span ng-click="removeBillDates()" ng-repeat="dt in currentFn.billDates  track by $index" style="display:inline-block;  margin-bottom:7px; color:#2c7bb3;">{{dt | date:'dd/MM/yyyy'}} &nbsp; ,</span>
                        <div class="clrBt"></div>
                    </div>
                    <div class="clrBt"></div>
                </div>

                <div class="textBox">
                    <label>Bill Value<span style="color:red;">*</span></label>
                    <input tabindex="8" ng-change="calculateBillValue()" ng-class="{'redBorder':isNotBillValue}" ng-model="currentFn.billValues" type="text" />
                    <label style="margin:0; text-align:center; width:67px; color:#3588ae;"><span style="display:block; color:#3588ae;">Total</span> <span style="display:block; color:#3588ae;">{{totalBillValue}}</span></label>
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Cases<span style="color:red;">*</span></label>
                    <input tabindex="9" type="text" ng-class="{'redBorder':isNotCases}" ng-model="currentFn.cases" />
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Pvt. Marka<span style="color:red;">*</span></label>
                    <input tabindex="10" style="text-transform: uppercase" type="text"  ng-class="{'redBorder':isNotMarka}" ng-model="currentFn.marka" />
                    <div class="clrBt"></div>
                </div>
                <div class="textBox">
                    <label>Permit No</label>
                    <input tabindex="11" type="text" ng-model="currentFn.permitNo" />
                    <div class="clrBt"></div>
                </div>

                <div class="textBox">
                    <label>Comments</label>
                    <input tabindex="12" type="text" ng-model="currentFn.comments" />
                    <div class="clrBt"></div>
                </div>

                <div class="textBox">
                    <label>Company/Division</label>
                    <select ng-model="currentFn.companyId" ng-options="com.id as com.code for com in companies"></select>
                    <!--<input tabindex="13" style="text-transform:uppercase;" type="text" ng-model="currentFn.company" />-->
                    <div class="clrBt"></div>
                </div>
                <div class="clrBt"></div>
                <div class="buttonMain flt_R" style="margin-right:70px;">
                    <button type="button" class="flt_L" ng-click="addForwardingNote()" style="margin-right:10px;" type="button">Save</button>
                    <button type="button" class="flt_R" ng-click="addForwardingNote(true)" type="button">Save & Print</button>
                    	<div class="clrBt"></div>
                </div>
                <div class="clrBt"></div>
            </form>
        </div>
    </div> <!-- Content Area Main End -->
    
    
<div id="pforwardingNote_id" class="confirmBoxStyle" style="display:none;"> <!-- Forwarding Note Popup Box Style Start -->
  <div class="confirmBoxOuter" id="forwardingNote_id" style="width:650px;">
    <div class="confirmBoxStyleInner">
      <h3 class="titleCB"><span class="confTxt flt_L">Forwarding Note</span><div class="clrBt"></div></h3>
      
    <div class="formViewStyleM">
        	<div class="logoPartMain">
            	<div class="logoPMain"><img src="/com/images/logo.png" alt="" title="" style="width:120px;" /></div>
                <div class="adrsLP">Kalpataru Tower Patna Gaya Road Elahibagh<br/> Patna-800007</div>
            </div>
		<div class="textBox" style="width:auto; border-right:none;">
        	<label>Forwarding Date:</label>
            <span>{{currentFn.fnDate | date:'dd/MM/yyyy'}}</span>
            	<div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>

		<div class="textBox flt_L">
        	<label>Transport Name:</label>
            <span style="text-transform: uppercase">{{currentFn.transporter.name}}</span>
            	<div class="clrBt"></div>
        </div>
		<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">
        	<label>Station/Place:</label>
            <span style="text-transform: uppercase">{{currentFn.transporterStation}}</span>
            	<div class="clrBt"></div>
        </div>
        	<div class="clrBt"></div>
		<div class="textBox flt_L">
        	<label>Customer Name:</label>
            <span style="text-transform: uppercase">{{currentFn.customer.name}}</span>
            	<div class="clrBt"></div>
        </div>
		<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">
        	<label>Station/Place:</label>
            <span style="text-transform: uppercase">{{currentFn.customer.city}}</span>
            	<div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
		<div class="textBox flt_L">
        	<label>Bill No:</label>
            <span>{{currentFn.billNumber}}</span>
            	<div class="clrBt"></div>
        </div>
		<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">
        	<label>Bill Date:</label>
            <span>{{currentFn.billDates}}</span>
            	<div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
		<div class="textBox flt_L">
        	<label>Bill Value:</label>
            <span>{{currentFn.billValues}}</span>
            	<div class="clrBt"></div>
        </div>
		<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">
        	<label>Cases:</label>
            <span>{{currentFn.cases}}</span>
            	<div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
		<div class="textBox flt_L">
        	<label>Pvt. Marka:</label>
            <span style="text-transform: uppercase">{{currentFn.marka}}</span>
            	<div class="clrBt"></div>
        </div>
		<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">
        	<label>Permit No.:</label>
            <span style="text-transform: uppercase">{{currentFn.permitNo}}</span>
            	<div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
		<div class="textBox flt_L">
        	<label>Comments:</label>
            <span style="text-transform: uppercase">{{currentFn.comments}}</span>
            	<div class="clrBt"></div>
        </div>
		<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">
        	<label>Company/Division:</label>
            <span style="text-transform: uppercase">{{currentFn.company}}</span>
            	<div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
    </div>
      

      
    </div>
  </div>
</div> <!-- Forwarding Note Popup Box Style End -->

</div> <!-- Page Main Section End -->

<div ng-if="afterSaveMessage" class="afterSaveMessageMain">
	<div class="afterSaveMessageInr">
		<span>{{afterSaveMessage}}</span>
    </div>
</div>

</body>
</html>
