<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dispatch Note</title>
</head>
<body>
<div id="pageMainKT" ng-init="initData()"> <!-- Page Main Section Start -->
  <header class="hedMain"> <!-- Header Main Start -->
    <div class="hedInner">
      <section class="hedLeftSec flt_L">
        <a href="#"><img src="/com/images/logo.png" style="width:150px;" alt="Home" title="Home" /></a>
      </section>
      <section class="hedRightSec flt_R">
        <a href="#">Welcome User</a>
        <div class="clrBt"></div>
      </section>
      <div class="clrBt"></div>
    </div>
  </header> <!-- Header Main End -->
  <div class="menuMain">
    <div class="menuInner">
      <a href="#/forwardingNote" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Forwarding Note</a>
      <a href="#/dispatch" class="selectedMenu" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Dispatch</a>
      <a href="#/dispatches">Dispatches</a>
      <div class="clrBt"></div>
    </div>
  </div>
  <div class="contentAreaMain"> <!-- Content Area Main Start -->
    <div class="contentAreaInner">
      <h2 class="pageTitle" style="margin-bottom:12px;">Dispatch</h2>
      <div class="contLeftRightMain">
        <div class="clrBt"></div>
        
        <div class="forwNumIdMain flt_L formStyleMain">
        	<div class="flt_L textBox">
            	<label class="flt_L" style="width:155px;">Forwarding Number Id</label>
                <input class="flt_L" ng-model="fnId" type="number" style="width:125px;" />
                	<div class="clrBt"></div>
			</div>
            <div class="buttonMain flt_L" style="margin:3px 0 0 10px;">
                <button type="button" class="flt_L" ng-click="getForwardingNote()" style="margin-right:10px;">Apply</button>
                <button type="button" class="flt_L" ng-click="reset()" style="margin-right:10px;">Reset</button>
                	<div class="clrBt"></div>
			</div>
            	<div class="clrBt"></div>
        </div>

        <div style="margin:0 0 10px 0;" class="buttonMain flt_R">
          <button type="button" ng-click="showVanDataPopUp()" class="flt_L" style="margin-right:10px;">Add Van Details</button>
        </div>
        <div class="clrBt"></div>
        <section class="contLeftMain flt_L">
          <form class="formStyleMain formInvoiceMain">
            <div class="textBox flt_L" style="padding-left:5px;">
              <label>From Date</label>
              <input ng-model="filterFromDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
            <div class="textBox flt_R" style="margin:0 5px;">
              <label>To Date</label>
              <input ng-model="filterToDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
            <div class="textBox">
              <label>Filter</label>
              <input ng-model="transportFilter" type="text" style="width:285px;" />
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
          </form>
          
<div class="tabMenuDispc">
	<div class="tabMenuInrDispc">
        <a href="" ng-click="showMe('list')" class="flt_L " ng-class="{'activeTabDisc':viewName=='list'}" style="border-right:2px solid #aec6dc; padding-right:8px;">List View</a>
        <a href="" ng-click="showMe('grid')" class="flt_R" ng-class="{'activeTabDisc':viewName=='grid'}">Grid View</a>
            <div class="clrBt"></div>
	</div>
</div>
          
          <ul class="checkBoxSectionMain listViewDsp" ng-show="viewName=='list'">
            <li ng-repeat="fns in forwardingNotes | daterange:filterFromDate:filterToDate| filter:transportFilter" daterange class="chkBox" disabled>
              <div class="linkStyleLst" ng-show="!fns.isDispatched" ><input ng-checked="fns.isDisabled" ng-click="addToVanData(fns)" type="checkbox" />
              <a href="" ng-click="addToVanData(fns)" style="width:250px;"><span>{{getDisplayNameforFn(fns)}}</span> <div class="clrBt"></div></a><img ng-click="printFn($event,fns)" src="/com/images/viewiconUL.png" alt="" style="cursor:pointer;margin:2px 0 0;" title="" class="flt_R" /><div class="clrBt"></div></div>
              <div class="clrBt"></div>
              <div class="unlinkStyleLst" ng-show="fns.isDispatched">
                  <img src="/com/images/bulletWhite.png" alt="" title="" class="flt_L" />
                  <span class="flt_L"><div class="flt_L" style="width:250px;">{{getDisplayNameforFn(fns)}}</div> <img ng-click="printFn($event,fns)" src="/com/images/viewiconUL.png" alt="" title="" style="cursor:pointer;margin:2px 0 0;" class="flt_R" /><div class="clrBt"></div></span>
                  <div class="clrBt"></div>
              </div>
              <div class="clrBt"></div>
            </li>
          </ul>
          
<div class="gridViewDsp" ng-show="viewName=='grid'">
    <div style="cursor:pointer;" ng-repeat="fns in forwardingNotes | daterange:filterFromDate:filterToDate| filter:transportFilter" class="gridSty enableGV"  ng-class="{'disableGVD':fns.isDisabled || fns.isDispatched}">
      <div ng-show="!fns.isDispatched" ng-click="addToVanData(fns)">{{fns.id}}</div> <div ng-show="fns.isDispatched">{{fns.id}}</div><a href="" ng-click="printFn($event,fns)">i</a></div>
    <!--<div class="gridSty">200</div>-->
    <!--<div class="gridSty">300</div>-->
    <!--<div class="gridSty enableGVD">400</div>-->
    <!--<div class="gridSty">500</div>-->
    <!--<div class="gridSty">600</div>-->
    <!--<div class="gridSty disableGVD">700</div>-->
    <!--<div class="gridSty">800</div>-->
    <!--<div class="gridSty">900</div>-->
    <!--<div class="gridSty">1000</div>-->
    <!--<div class="gridSty">100</div>-->
    <!--<div class="gridSty">800</div>-->
    <!--<div class="gridSty">900</div>-->
    <!--<div class="gridSty">1000</div>-->
    <!--<div class="gridSty">100</div>-->
    	<div class="clrBt"></div>
</div>
          
          
          
          
          
          
          
        </section>

       <div class="contRightMain flt_R">
<div id="vanDetails_id">
        	<div class="logoPartMain">
            	<div class="logoPMain"><img src="/com/images/logo.png" alt="" title="" style="width:120px;" /></div>
                <div class="adrsLP">Kalpataru Tower Patna Gaya Road Elahibagh<br/> Patna-800007</div>
            </div>

          <div class="vanDetailsTbl">
            <div class="textBoxVD flt_L">
              <label>Date: </label>
              <span>{{getFormattedDate(vanData.date)}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="textBoxVD flt_R" style="padding-right:10px;">
              <label>Van No.: </label>
              <span>{{vanData.vanNo}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
            <div class="textBoxVD">
              <label>Driver Name: </label>
              <span>{{vanData.name}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="textBoxVD">
              <label>Remarks: </label>
              <span style="margin-left:0;">&nbsp;{{vanData.remarks}}</span>
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
          </div>

          <div style="border-bottom:4px double #aec6dc; margin-bottom:15px;"></div>
          <table cellpadding="0" cellspacing="0" width="100%" class="sortable" >
            <tr>
              <th>Date</th>
              <th>Transport Name</th>
              <th>Station / Place</th>
              <th>Bill No.</th>
              <th>Bill Date.</th>
              <th>Values</th>
              <th>Cases</th>
              <th>Pvt. Marka</th>
              <th>Permit No.</th>
              <th>Customer name</th>
              <th>Customer City</th>
              <th ng-show="visibleForDisplay">Action</th>
            </tr>
            <tr ng-repeat="fn in vanData.fns">
              <td>{{getFormattedDate(fn.fnDate)}}</td>
              <td>{{fn.transporter.name}}</td>
              <td>{{fn.transporter.city}}</td>
              <td>{{fn.billNo}}</td>
              <td>{{fn.billDates}}</td>
              <td>{{getBillValues(fn.billValues)}}</td>
              <td>{{fn.cases}}</td>
              <td>{{fn.marka}}</td>
              <td>{{fn.permitNo}}</td>
              <td>{{fn.customer.name}}</td>
              <td>{{fn.customer.city}}</td>
              <td ng-show="visibleForDisplay" style="text-align:center;">
                <a href="" ng-click="removeFN(fn)" style="margin:2px 0 0; display:inline-block;"><img src="/com/images/cancelD.png" alt="Delete" style="width:15px;" title="Delete" /></a><div class="clrBt"></div>
			  </td>
            </tr>         
          </table>
</div>

          <div style="margin:10px 0 0 0;" class="buttonMain flt_R">
            <button type="button" class="flt_L" ng-click="save()" style="margin-right:10px;">Save</button>
            <!--<button type="button" ng-click="save(true)" class="flt_L">Save & Print</button>-->
          </div>
        </section>
        <div class="clrBt"></div>
      </div>

    </div>
  </div> <!-- Content Area Main End -->


</div> <!-- Page Main Section End -->

<div ng-show="vanDataPopUP" class="confirmBoxStyle"> <!-- Enter Van Details Popup Box Style Start -->
  <div class="confirmBoxOuter">
    <div class="confirmBoxStyleInner">
      <h3 class="titleCB"><span class="confTxt flt_L">Enter Van Details</span> <span ng-click="closeVanDataPopUp()" class="windowCloseIcon flt_R"></span><div class="clrBt"></div></h3>
      <form class="formStyleMain formLightBoxMain">
        <div class="textBox">
          <label>Van No.</label>
          <input id="t_van_id" ng-model="vanData.vanNo" type="text" />
          <div class="clrBt"></div>
        </div>
        <div class="textBox">
          <label>Date</label>
          <input ng-model="vanData.date" type="date" style="width:130px;" />
          <div class="clrBt"></div>
        </div>
        <div class="textBox">
          <label>Driver Name</label>
          <input ng-model="vanData.name" type="text" />
          <div class="clrBt"></div>
        </div>
        <div class="textBox">
          <label>Remarks</label>
          <textarea ng-model="vanData.remarks" style="height:50px; width:200px;"></textarea>
          <div class="clrBt"></div>
        </div>
        <div class="clrBt"></div>
        <div class="buttonMain" style="margin:0 auto; width:65px;">
          <button type="button" style="padding:5px 15px;" ng-click="closeVanDataPopUp()">Save</button>
        </div>
        <div class="clrBt"></div>
      </form>
    </div>
  </div>
</div> <!-- Enter Van Details Popup Box Style End -->
  <!--<div id="pforwardingNote_id" class="confirmBoxStyle" style="display:none;"> &lt;!&ndash; Forwarding Note Popup Box Style Start &ndash;&gt;-->
    <!--<div class="confirmBoxOuter" id="forwardingNote_id" style="width:650px;">-->
      <!--<div class="confirmBoxStyleInner">-->
        <!--<h3 class="titleCB"><span class="confTxt flt_L">Forwarding Note</span><div class="clrBt"></div></h3>-->

        <!--<div class="formViewStyleM">-->
          <!--<div class="logoPartMain">-->
            <!--<div class="logoPMain"><img src="/com/images/logo.png" alt="" title="" style="width:120px;" /></div>-->
            <!--<div class="adrsLP">Kalpataru Tower Patna Gaya Road Elahibagh<br/> Patna-800007</div>-->
          <!--</div>-->
          <!--<div class="textBox" style="width:auto; border-right:none;">-->
            <!--<label>Forwarding Date:</label>-->
            <!--<span>{{currentFn.fnDate | date:'dd/MM/yyyy'}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->

          <!--<div class="textBox flt_L">-->
            <!--<label>Transport Name:</label>-->
            <!--<span>{{currentFn.transporter.name}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">-->
            <!--<label>Station/Place:</label>-->
            <!--<span>{{currentFn.transporterStation}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->
          <!--<div class="textBox flt_L">-->
            <!--<label>Customer Name:</label>-->
            <!--<span>{{currentFn.customer.name}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">-->
            <!--<label>Station/Place:</label>-->
            <!--<span>{{currentFn.customer.city}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->
          <!--<div class="textBox flt_L">-->
            <!--<label>Bill No:</label>-->
            <!--<span>{{currentFn.billNumber}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">-->
            <!--<label>Bill Date:</label>-->
            <!--<span>{{currentFn.billDates}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->
          <!--<div class="textBox flt_L">-->
            <!--<label>Bill Value:</label>-->
            <!--<span>{{currentFn.billValues}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">-->
            <!--<label>Cases:</label>-->
            <!--<span>{{currentFn.cases}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->
          <!--<div class="textBox flt_L">-->
            <!--<label>Pvt. Marka:</label>-->
            <!--<span>{{currentFn.marka}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">-->
            <!--<label>Permit No.:</label>-->
            <!--<span>{{currentFn.permitNo}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->
          <!--<div class="textBox flt_L">-->
            <!--<label>Comments:</label>-->
            <!--<span>{{currentFn.comments}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="textBox flt_L" style="padding-right:0; padding-left:8px;">-->
            <!--<label>Company/Division:</label>-->
            <!--<span>{{currentFn.company}}</span>-->
            <!--<div class="clrBt"></div>-->
          <!--</div>-->
          <!--<div class="clrBt"></div>-->
        <!--</div>-->



      <!--</div>-->
    <!--</div>-->
  <!--</div> &lt;!&ndash; Forwarding Note Popup Box Style End &ndash;&gt;-->
  </div>
  <div id="pforwardingNote_id" class="confirmBoxStyle" style="display:none;"> <!-- Forwarding Note Popup Box Style Start -->
    <div class="confirmBoxOuter" id="forwardingNote_id" style="width:650px;">
      <div class="confirmBoxStyleInner">
        <h3 class="titleCB" style="background:#d3d3d3; padding:5px 10px; color:#814b27;"><span class="confTxt flt_L" style="margin-top:5px;">Forwarding Note</span> <div class="logoPMain flt_R"><img src="/com/images/logo.png" alt="" title="" style="width:100px;" /></div><div class="clrBt"></div></h3>
        <div class="formViewStyleM">
        	<div class="logoPartMain">
                <div class="compNameCodeM"><span class="compName">{{currentFn.company.name}}</span> <span class="compCode"> ({{currentFn.company.code}})</span></div>
                <div class="adrsLP">{{getCompleteAddress(currentFn.company)}}</div>
              <div class="adrsLP">VAT : {{currentFn.company.vat}} &nbsp;&nbsp; CST : {{currentFn.company.cst_or_tin}}</div>
            </div>
<!--          <div class="textBox" style="width:auto;">
            <label>Serial No::</label>
            <span>{{currentFn.id}}</span>
            <div class="clrBt"></div>
          </div>

          <div class="textBox" style="width:auto;">
			<label>Forwarding Date:</label>
            <span>{{currentFn.fnDate | date:'dd/MM/yyyy'}}</span>
            <div class="clrBt"></div>
          </div>

-->
          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Serial No.:</label>
            <span>{{currentFn.id}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>Forwarding Date:</label>
            <span>{{currentFn.fnDate | date:'dd/MM/yyyy'}}</span>
            <div class="clrBt"></div>
          </div>



          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Transport Name:</label>
            <span style="text-transform: uppercase">{{currentFn.transporter.name}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>Station/Place:</label>
            <span style="text-transform: uppercase">{{currentFn.transporterStation}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Customer Name:</label>
            <span style="text-transform: uppercase">{{currentFn.customer.name}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>Station/Place:</label>
            <span style="text-transform: uppercase">{{currentFn.customer.city}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Bill No:</label>
            <span>{{currentFn.billNo}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>Bill Value:</label>
            <span>{{getBillValues(currentFn.billValues)}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Bill Date:</label>
            <span>{{currentFn.billDates}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>Cases:</label>
            <span>{{currentFn.cases}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Pvt. Marka:</label>
            <span style="text-transform: uppercase">{{currentFn.marka}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>Permit No.:</label>
            <span style="text-transform: uppercase">{{currentFn.permitNo}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="clrBt"></div>
          <div class="textBox flt_L">
            <label>Commodity:</label>
            <span style="text-transform: uppercase">{{currentFn.commodity}}</span>
            <div class="clrBt"></div>
          </div>
          <div class="textBox flt_L" style="padding-right:0; padding-left:8px; width:230px;">
            <label>FRIEGHT TO BE BILLED </label>
            <span style="text-transform:uppercase;"></span>
            <div class="clrBt"></div>
          </div>

          <div class="clrBt"></div>
        </div>



      </div>
    </div>
  </div> <!-- Forwarding Note Popup Box Style End -->


</body>
</html>
