<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dispatch Note </title>
  <script src="/com/js/sorting.js" type="text/javascript"></script>
  <script src="/com/js/html2canvas.js" type="text/javascript"></script>
</head>

<body>

<div id="pageMainKT" ng-init="initData()"> <!-- Page Main Section Start -->

  <header class="hedMain"> <!-- Header Main Start -->
    <div class="hedInner">
      <section class="hedLeftSec flt_L">
        <a href="#"><img src="/com/images/logo.png" style="width:150px;" alt="Home" title="Home" /></a>
      </section>
      <section class="hedRightSec flt_R">
        <a href="#">Welcome User</a>
        <div class="clrBt"></div>
      </section>
      <div class="clrBt"></div>
    </div>
  </header> <!-- Header Main End -->

  <div class="menuMain">
    <div class="menuInner">
      <a href="#/forwardingNote" style="border-right:1px solid #ccc; margin-right:5px; padding-right:12px;">Forwarding Note</a>
      <a href="#/dispatch">Dispatch</a>
      <div class="clrBt"></div>
    </div>
  </div>

  <div class="contentAreaMain"> <!-- Content Area Main Start -->
    <div class="contentAreaInner">
      <h2 class="pageTitle" style="margin-bottom:12px;">Dispatch</h2>

      <div class="contLeftRightMain">
        <div class="clrBt"></div>
        <div style="margin:0 0 10px 0;" class="buttonMain flt_R">
          <button type="button" ng-click="showVanDataPopUp()" class="flt_L" style="margin-right:10px;">Add Van Details</button>
        </div>
        <div class="clrBt"></div>
        <section class="contLeftMain flt_L">
          <form class="formStyleMain formInvoiceMain">
            <div class="textBox flt_L" style="padding-left:5px;">
              <label>From Date</label>
              <input ng-model="filterFromDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
            <div class="textBox flt_R" style="margin:0 5px;">
              <label>To Date</label>
              <input ng-model="filterToDate" type="date" style="width:125px;" />
              <div class="clrBt"></div>
            </div>
            <div class="clrBt"></div>
            <div class="textBox flt_L">
              <label>Filter</label>
              <input ng-model="transportFilter" type="text" style="width:215px;" />
              <div class="clrBt"></div>
            </div>
            <div style="margin:30px 0 0;" class="buttonMain flt_R">
              <button type="button" class="flt_L">Apply</button>
            </div>
            <div class="clrBt"></div>
          </form>
          <ul class="checkBoxSectionMain">
            <li ng-repeat="fns in forwardingNotes | daterange:filterFromDate:filterToDate| filter:transportFilter"  class="chkBox" disabled>
              <div ng-show="!fns.isDispatched"><input ng-checked="fns.isDisabled" ng-click="addToVanData(fns)" type="checkbox" />
                <a href="" ng-click="addToVanData(fns)">{{getDisplayNameforFn(fns)}}</a></div>
              <div class="clrBt"></div>

              <div ng-show="fns.isDispatched">
                <span >{{getDisplayNameforFn(fns)}}</span></div>
              <div class="clrBt"></div>
            </li>
          </ul>
        </section>
        <div  class="contRightMain flt_R">
          <div id="vanDetails_id">
            <div class="vanDetailsTbl">
              <div class="textBoxVD flt_L">
                <label>Date: </label>
                <span>{{getFormattedDate(vanData.vanDate)}}</span>
                <div class="clrBt"></div>
              </div>
              <div class="textBoxVD flt_R" style="padding-right:10px;">
                <label>Van No.: </label>
                <span>{{vanData.vanNo}}</span>
                <div class="clrBt"></div>
              </div>
              <div class="clrBt"></div>
              <div class="textBoxVD">
                <label>Driver Name: </label>
                <span>{{vanData.vanDriverName}}</span>
                <div class="clrBt"></div>
              </div>
              <div class="textBoxVD">
                <label>Remarks: </label>
                <span style="margin-left:0;">&nbsp;{{vanData.vanRemarks}}</span>
                <div class="clrBt"></div>
              </div>
              <div class="clrBt"></div>
            </div>

            <div style="border-bottom:4px double #aec6dc; margin-bottom:15px;"></div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sortable" >
              <tr>
                <th>Date</th>
                <th>Transport Name</th>
                <th>Station / Place</th>
                <th>Bill No.</th>
                <th>Bill Date.</th>
                <th>Value</th>
                <th>Cases</th>
                <th>Pvt. Marka</th>
                <th>Permit No.</th>
                <th>Customer name</th>
                <th>Customer City</th>
              </tr>
              <tr ng-repeat="fn in vanData.fns">
                <td>{{getFormattedDate(fn.fnDate)}}</td>
                <td>{{fn.transporter.name}}</td>
                <td>{{fn.transporter.city}}</td>
                <td>{{fn.billNo}}</td>
                <td>{{getFormattedDate(fn.billDate)}}</td>
                <td>{{fn.billValue}}</td>
                <td>{{fn.cases}}</td>
                <td>{{fn.marka}}</td>
                <td>{{fn.permitNo}}</td>
                <td>{{fn.customer.name}}</td>
                <td>{{fn.customer.city}}</td>
              </tr>
            </table>
          </div>
          <div style="margin:10px 0 0 0;" class="buttonMain flt_R">
            <button type="button" class="flt_L" ng-click="save()" style="margin-right:10px;">Save</button>
            <button type="button" ng-click="save(true)" class="flt_L">Save & Print</button>
          </div>
          </section>
          <div class="clrBt"></div>
        </div>


      </div>
    </div> <!-- Content Area Main End -->


  </div> <!-- Page Main Section End -->

  <div ng-if="vanDataPopUP" class="confirmBoxStyle"> <!-- Reason for Cancellation Popup Box Style Start -->
    <div class="confirmBoxOuter">
      <div class="confirmBoxStyleInner">
        <h3 class="titleCB"><span class="confTxt flt_L">Enter Van Details</span> <span ng-click="closeVanDataPopUp()" class="windowCloseIcon flt_R"></span><div class="clrBt"></div></h3>
        <form class="formStyleMain formLightBoxMain">
          <div class="textBox">
            <label>Date</label>
            <input ng-model="vanData.vanDate" type="date" style="width:130px;" />
            <div class="clrBt"></div>
          </div>
          <div class="textBox">
            <label>Van No.</label>
            <input ng-model="vanData.vanNo" type="text" />
            <div class="clrBt"></div>
          </div>
          <div class="textBox">
            <label>Driver Name</label>
            <input ng-model="vanData.vanDriverName" type="text" />
            <div class="clrBt"></div>
          </div>
          <div class="textBox">
            <label>Remarks</label>
            <textarea ng-model="vanData.vanRemarks" style="height:50px; width:200px;"></textarea>
            <div class="clrBt"></div>
          </div>
          <div class="clrBt"></div>
          <div class="buttonMain" style="margin:0 auto; width:65px;">
            <button type="button" style="padding:5px 15px;" ng-click="closeVanDataPopUp()">Save</button>
          </div>
          <div class="clrBt"></div>
        </form>
      </div>
    </div>
  </div> <!-- Reason for Cancellation Popup Box Style End -->
</div>
</body>
</html>
